body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.gallery {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 20px;

}

.picture {
    height: 500px;
    width: 800px;
}

li {
    padding-bottom: 20px;
}